<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xhustore.dao.GoodsDao">
	<sql id="Base_Column_List">
		id, name, type, price, depict, amount
	</sql>
	<insert id="insert" parameterType="Goods">
		insert into goods
		(
		name,
		type,
		price,
		depict,
		amount
		)
		values
		(
		#{name,jdbcType=VARCHAR},
		#{type,jdbcType=CHAR},
		#{price,jdbcType=REAL},
		#{depict,jdbcType=VARCHAR},
		#{amount,jdbcType=INTEGER}
		)
	</insert>
	<update id="update" parameterType="Goods">
		update goods set
		name = #{name,jdbcType=VARCHAR},
		type = #{type,jdbcType=CHAR},
		price = #{price,jdbcType=REAL},
		depict = #{depict,jdbcType=VARCHAR},
		amount = #{amount,jdbcType=INTEGER},
		update_time=current_timestamp
		where
		id = #{id,jdbcType=BIGINT}
	</update>


</mapper>