<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xhustore.dao.ReleasesDao">
	<insert id="insert" parameterType="Releases">
		insert into releases
		(
		user_id,
		goods_id
		)
		values
		(
		#{userId,jdbcType=BIGINT},
		#{goodsId,jdbcType=BIGINT}
		)
	</insert>

	<select id="queryReleasesId" resultType="java.lang.Long">
		select id from releases where user_id=#{userId} and goods_id=#{goodsId} and is_deleted=0
	</select>

	<update id="delete">
		update releases set is_deleted=1,update_time=current_timestamp where id=#{id} and is_deleted=0
	</update>

	<!-- 查询已发布的商品 -->
	<select id="listReleasesGoods" resultType="com.xhustore.dto.ReleasesGoodsDTO" parameterType="java.lang.Long">
		select 
	</select>
</mapper>