<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xhustore.dao.UserDao">
	<sql id="Base_Column_List">
		id, phone, nickname, introduce, qq_number, wechat_number, head_image
	</sql>

	<insert id="insert" parameterType="User">
		insert into user
		(
		phone,
		password
		)
		values
		(
		#{phone,jdbcType=CHAR},
		#{password,jdbcType=CHAR}
		)
	</insert>

	<update id="update" parameterType="User">
		update user set
		nickname = #{nickname,jdbcType=CHAR},
		college = #{college,jdbcType=CHAR},
		introduce = #{introduce,jdbcType=VARCHAR},
		qq_number=#{qqNumber,jdbcType=CHAR},
		wechat_number = #{wechatNumber,jdbcType=CHAR},
		update_time = current_timestamp
		where
		id = #{id,jdbcType=BIGINT} and is_deleted=0
	</update>

	<update id="updateHeadImage">
		update user set head_image=#{headImage},update_time=current_timestamp where id = #{id,jdbcType=BIGINT} and is_deleted=0
	</update>

	<update id="updatePassword">
		update user set password=#{password},update_time=current_timestamp where id = #{id,jdbcType=BIGINT} and is_deleted=0
	</update>

	<update id="delete">
		update user set is_deleted=1,update_time=current_timestamp where id=#{id} and is_deleted=0
	</update>

	<!-- 根据id查询密码 -->
	<select id="queryPasswordById" resultType="java.lang.String">
		select password from user where id=#{id} and is_deleted=0
	</select>

	<!-- 根据phone和密码查询用户 -->
	<select id="queryByPhoneAndPassword" resultType="com.xhustore.dto.UserDTO">
		select
		<include refid="Base_Column_List"></include>
		from user where phone=#{phone} and password=#{password} and is_deleted=0
	</select>

	<!-- 根据id查询用户 -->
	<select id="queryById" resultType="com.xhustore.dto.UserDTO">
		select id,nickname, introduce,
		<if test="includeContactInfo==true">
			phone,qq_number, wechat_number,
		</if>
		head_image from user where id=#{id} and is_deleted=0
	</select>

	<!-- 查询素有用户 -->
	<select id="queryAll" resultType="com.xhustore.dto.UserDTO">
		select
		<include refid="Base_Column_List"></include>
		from user where is_deleted=0;
	</select>

</mapper>